@namespace Skclusive.Material.Icon
@inherits MaterialIconComponent

<span
    @ref="RootRef.Current"
     role="progressbar"
     class="@_Class"
     style="@_Style"
     @attributes="Attributes">
@ChildContent    
</span>
